body {
    /* Typography */
    font-size: 18px;
    line-height: 27px;
  
    /* Visual */
    background: url(https://cdn.bulbagarden.net/upload/thumb/7/73/Psyduck_Eggs.png/220px-Psyduck_Eggs.png);
  }

  .container {
      background-color: bisque;
      padding: 20px;
      width: 70%;
  }